body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: gainsboro;
}

header nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 7;
}

nav #flex-cont {
    display: flex;
    background-color: rgba(133, 130, 130, 0.856);
    justify-content: space-around;
    align-items: center;
    padding-left: none;
    border-bottom: 2px solid silver;
    font-family: Helvetica;
    font-weight: bold;
    height: 75px;
    width: 100%;
}

nav #flex-cont a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    border-right: 2px solid silver;
    padding: 10px 15px;
    margin: 0;
}

nav #flex-cont img {
    width: 150px;
    height: 75px;
    display: flex;
    cursor: pointer;
}

header {
    color: white;
    height: 400px;
    width: 100%;
    background-image: url("fiera.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 15px;
    border-bottom: 2px solid white;
    z-index: 1;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    z-index: 2;
}

header h1.titolo {
    font-size: 40px;
    color: rgba(255, 255, 255, .9);
    z-index: 3;
    font-family: "Light 300 Italic", sans-serif;
    text-align: center;
    font-style: oblique;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 6px 6px 8px black;
    padding: 5px 8px;
    border-radius: 20px;
    z-index: 4;
    margin-bottom: 0px;
}

h3.sottotitolo {
    font-size: 20px;
    text-align: center;
    color: rgba(238, 236, 236, 0.9);
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 6px 6px 8px black;
    z-index: 5;
}

header a.button {
    color: white;
    font-size: 20px;
    border: 3px solid white;
    background-color: rgb(255, 255, 255, 0.3);
    padding: 3px 5px;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    border-radius: 10px;
    z-index: 6;
}

nav #flex-cont a:hover,
nav #flex-cont .style:hover,
a.button:hover,
nav #flex-cont img:hover {
    background-color: darkgray;
    border-radius: 10px;
}

nav #flex-cont a:active,
nav #flex-cont .style:active,
a.button:active,
nav #flex-cont img:active {
    background-color: lavender;
}

nav #flex-cont .style {
    border-right: none;
    background: slategray;
    float: left;
    border-radius: 20px;
}

#menu {
    display: none;
}

#menu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0px;
}

.article1-preferiti {
    height: 900px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    position: relative;
}

.section-preferiti {
    height: 80%;
    display: flex;
    position: absolute;
    bottom: 10%;
    right: 10%;
    left: 10%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    background-color: lightgray;
    border-radius: 20px;
}

.div-content {
    background-color: #f4f4f4;
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.div-content img {
    height: 60%;
    width: 100%;
    border-radius: 15px;
}

.section-preferiti .div-content .div-title h1 {
    color: black;
    display: flex;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.section-preferiti .div-content .div-title img {
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}

.article1-preferiti h1 {
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}

.article2-barraricerca {
    height: 150px;
    width: 100%;
    background-color: silver;
    display: flex;
    position: relative;
    border-bottom: 2px solid white;
}

.contenuti-barra {
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 10%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenuti-barra span {
    font-size: 20px;
    margin: 20px;
    font-weight: bold;
    font-style: oblique;
}

.contenuti-barra input {
    height: 15px;
    width: 150px;
    margin: 20px;
}

.article3 {
    height: 1500px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section-fiere {
    background-color: #f4f4f4;
    height: 320px;
    width: 320px;
    margin: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.article3 .section-fiere img {
    border-radius: 15px;
    width: 100%;
    height: 50%;
}

.section-fiere div,
.section-preferiti .div-content .div-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.section-fiere div h1 {
    display: flex;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.article3 .section-fiere div img {
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 20px;
}

.section-fiere .settore {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    margin-left: 20px;
    font-size: 13px;
    color: #707070;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
    font-style: oblique;
}

.section-fiere p {
    font-size: 15px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-style: oblique;
}

.section-fiere button {
    margin-top: 0px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

footer {
    height: 75px;
    width: 100vw;
    background-color: rgba(133, 130, 130, 0.856);
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    letter-spacing: 2px;
    top: 0%;
    bottom: 0%;
}

footer .matricola {
    color: white;
    font-weight: bold;
    font-style: oblique;
    margin: 30px;
}

footer .uni {
    display: block;
    font-style: oblique;
    font-weight: bold;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.4);
    padding-left: 30px;
    padding-top: 10px;
}

footer img {
    width: 250px;
    position: absolute;
    left: 20px;
}

.hidden {
    display: none;
}

@media(max-width:1000px) {
    header div#flex-cont a {
        display: none;
    }
    header nav #menu {
        display: block;
    }
    nav #flex-cont {
        height: 75px;
    }
    header {
        height: 500px;
        font-size: 1em;
    }
    header a.button {
        font-size: 80%;
    }
    header h1.titolo {
        font-size: 200%;
        margin-bottom: 20px;
    }
    header h3.sottotitolo {
        font-size: 150%;
    }
    .article1-preferiti {
        height: 700px;
    }
    .article1-preferiti .div-content {
        height: 100px;
        width: 100px;
    }
    .section-preferiti .div-content .div-title h1 {
        font-size: 10px;
    }
    .section-preferiti .div-content .div-title img {
        height: 20px;
        width: 20px;
    }
    .article2-barraricerca {
        height: 100px;
    }
    .contenuti-barra span {
        font-size: 15px;
    }
    .article3 {
        height: 3000px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .section-fiere p {
        font-size: 12px;
    }
    footer {
        font-size: 1em;
        display: flex;
        justify-content: center;
    }
    footer img {
        display: none;
    }
}